<h1>Here is the overview</h1>

<div id="overview_line_chart">
 
</div>

<<<<<<< HEAD
<div id="line_chart" style="width:560px; height:300px;">
  
=======
<h2>this is my series</h2>

<div id="seriesdata">
  <%= @series %>
>>>>>>> bd73bb7b489b9d1fe40250053f7ba3b3bb1d92b3
</div>
