<div class="container is-fluid">

  <header>
    <!-- Main container -->
    <nav class="navbar">
      <!-- Left side -->
      <div class="navbar-left is-grouped">
        <div class="navbar-item">
          <h3 class="title is-3">UBC Occupancy Analysis</h3>
        </div>
        <div class="tabs is-boxed">
          <ul>
            <li class="is-active"><a>Graph 1</a></li>
            <li><a>Graph 2</a></li>
            <li><a>Graph 3</a></li>
            <li><a>Graph 4</a></li>
          </ul>
        </div>
      </div>

      <!-- Right side -->
      <div class="navbar-right">
        <div>
          <a class="button is-primary">Logout</a>
        </div>
      </div>
    </nav>
  </header>

  <section class="section">
    <div class="columns">
      <div class="column is-9">
        <div id="overview-firstGraph" style="min-width: 310px; height: 400px; margin: 0 auto">
        </div>
      </div>
      <div class="column">
        <h5 class="title is-5">Graph Controls</h5>
        <label class="label">Building</label>
          <p class="control">
            <span class="select">
              <select>
                <option>Bldg1</option>
                <option>Bldg2</option>
                <option>Bldg3</option>
                <option>Bldg4</option>
              </select>
            </span>
          </p>
        <label class="label">Room</label>
          <p class="control">
            <span class="select">
              <select>
                <option>Room1</option>
                <option>Room2</option>
                <option>Room3</option>
                <option>Room4</option>
                <option>Room5</option>
                <option>Room6</option>
                <option>Room7</option>
                <option>Room8</option>
              </select>
            </span>
          </p>
        <label class="label">Timescale</label>
          <p class="control">
            <span class="select">
              <select>
                <option>Day</option>
                <option>Week</option>
                <option>Semester</option>
                <option>All Time</option>
              </select>
            </span>
          </p>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="columns">
      <div class="column is-6">
        <p class="notification is-primary">
          <code class="html">is-6</code>
        </p>
      </div>
      <div class="column is-4">
        <p class="notification is-info">
          <code class="html">is-4</code>
        </p>
      </div>
      <div class="column">
        <p class="notification is-success">
          <code class="html">auto</code>
        </p>
      </div>
    </div>
  </section>

</div>



<!-- <button id="button", remote: true>Display Chart</button>
<div id="overview_line_chart">
 
</div>


<div id="overview-highstock">
</div> -->


<!-- <h2>this is my series</h2>
<div id="seriesdata">
  <%= @series %>
</div> -->
