<h2> This is graph 3</h2>
<!--   <h1> I am Graph 3, please make me awesome by copying an existing graph page into here and then omdifying me until I rule the world </h1> -->
<div class="container is-fluid">

  <section class="section">
    <div class="columns">

      <div class="column is-10">
        <div id="graphContainer" style="min-width: 310px; height: 400px; margin: 0 auto">
        </div>
      </div>

      <div class="column graph_controls">
        <h5 class="title is-5">Graph Controls</h5>
        <label class="label">Building</label>
          <p class="control">
            <span class="select">
              <select class="building_choice">
                <option value="1">ANGU</option>
                <option value="2">CEME</option>
                <option value="3">DMP</option>
              </select>
            </span>
          </p>
        <!-- <label class="label">Room</label>
          <p class="control">
            <span class="select">
              <select class="room_choice">
                <option value="1">0516-IBLC-02-0101</option>
                <option value="2">0403-CIRS-02-0203</option>
                <option value="3">0403-CIRS-02-0202</option>
                <option value="4">0516-IBLC-01-0182</option>
                <option value="5">0277-AERL-04-0403</option>
              </select>
            </span>
          </p>
        <label class="label">Timescale</label>
          <p class="control">
            <span class="select">
              <select>
                <option>Day</option>
                <option>Week</option>
                <option>Semester</option>
                <option>All Time</option>
              </select>
            </span>
          </p> -->
      </div>

    </div>
  </section>

</div>
