<div class="container is-fluid">

  <section class="section">
    <div class="columns">

      <div class="column is-10">
        <div id="graphContainer" style="min-width: 310px; height: 400px; margin: 0 auto">
        </div>
      </div>

    </div>
  </section>

</div>