<h2> This is graph 1</h2>
 <section class="section">
    <div class="columns">
      <div class="column is-9">
        <div id="overview-firstGraph" style="min-width: 310px; height: 400px; margin: 0 auto">
        </div>
      </div>
      <div class="column">
        <h5 class="title is-5">Graph Controls</h5>
        <label class="label">Building</label>
          <p class="control">
            <span class="select">
              <select>
                <option>Bldg1</option>
                <option>Bldg2</option>
                <option>Bldg3</option>
                <option>Bldg4</option>
              </select>
            </span>
          </p>
        <label class="label">Room</label>
          <p class="control">
            <span class="select">
              <select>
                <option>Room1</option>
                <option>Room2</option>
                <option>Room3</option>
                <option>Room4</option>
                <option>Room5</option>
                <option>Room6</option>
                <option>Room7</option>
                <option>Room8</option>
              </select>
            </span>
          </p>
        <label class="label">Timescale</label>
          <p class="control">
            <span class="select">
              <select>
                <option>Day</option>
                <option>Week</option>
                <option>Semester</option>
                <option>All Time</option>
              </select>
            </span>
          </p>
      </div>
    </div>
  </section>