<h2> This is graph 1</h2>
 <section class="section">
    <div class="columns">
      <div class="column is-9">
        <div id="graph1" class="graphContainer" style="min-width: 310px; height: 400px; margin: 0 auto">
        </div>
      </div>
            
    <div class="column graph_controls">
        <h5 class="title is-5">Graph Controls</h5>
        <label id="graph1" class="label">Building</label>
          <p id="graph1" class="control">
            <span id="graph1" class="select">
             <%= select_tag "#graph1 .building_choice", options_from_collection_for_select(@buildings, 'id', 'building_name'), id: "graph1_building_choice" %>
            </span>
          </p>
        <div class='room_choice_container'>
          <label id="graph1_room" class="label">Room</label>
          <p id="graph1_room" class="control">
            <span id="graph1_room" class="select">
              <select id="graph1_room_choice" ></select>
            </span>
          </p>
        </div>
      </div>
    </div>
  </section>