<h2> This is graph 2</h2>
  <section class="section">
    <div class="columns">
      <div class="column is-9">
        <div id="graphContainer" style="min-width: 310px; height: 400px; margin: 0 auto">
        </div>
      </div>

      <div class="column graph_controls">
        <h5 class="title is-5">Graph Controls</h5>
        <label id="graph2" class="label">Building</label>
          <p id="graph2" class="control">
            <span id="graph2" class="select">
             <%= select_tag "#graph2 .building_choice", options_from_collection_for_select(@buildings, 'id', 'building_name') %>
            </span>
          </p>
<!--         <label id="graph2" class="label">Rooms</label>
          <p id="graph2" class="control">
            <span id="graph2" class="select">
              <select id="graph2" class="room_choice">
                <option value="1">0516-IBLC-02-0101</option>
                <option value="2">0403-CIRS-02-0203</option>
                <option value="3">0403-CIRS-02-0202</option>
                <option value="4">0516-IBLC-01-0182</option>
                <option value="5">0277-AERL-04-0403</option>
              </select>
            </span>
          </p> -->
<!--         <label class="label">Timescale</label>
          <p class="control">
            <span class="select">
              <select>
                <option>Day</option>
                <option>Week</option>
                <option>Semester</option>
                <option>All Time</option>
              </select>
            </span>
          </p> -->
      </div>

    </div>
  </section>
