<section class="section">
  <div class="columns">
    <div class="column is-9">
      <div class="graphContainer" style="min-width: 310px; height: 400px; margin: 0 auto">
      </div>
    </div>

    <div class="column graph_controls">
      <h5 class="title is-5">Graph Controls</h5>
      <label class="label">Building</label>
      <p class="control">
        <span class="select">
         <%= select_tag "building_choice", options_from_collection_for_select(@buildings, 'id', 'building_name'), class: "building_choice" %>
        </span>
      </p>
      <div class='room_choice_container'>
        <label class="label">Room</label>
        <p class="control">
          <span class="select">
            <select class="room_choice" ></select>
          </span>
        </p>
      </div>
    </div>

  </div>
</section>
