<div class="container is-fluid">

  <section class="section">
    <div class="columns">

      <div class="column is-9">
        <div class="graphContainer" style="min-width: 310px; height: 400px; margin: 0 auto">
        </div>
      </div>


    <div class="column graph_controls">
      <h5 class="title is-5">Graph Controls</h5>
      <div id="number_or_percent">
        <label class="label">Number or Percent</label>
        <p class="control">
          <span class="select">
            <select class="num_percent_choice4">
              <option value="Number">Number of Occupants</option>
              <option value="Percent">Percent Occupancy</option>
            </select>
          </span>
        </p>
      </div>
    </div>

    </div>
  </section>

</div>