/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery-ui/datepicker
 *= require_tree .
 */

 
@import "bulma";

/* simple way to add custom edits to bulma and jquery-ui */

.container {
  max-width: 1200px;
}

.dayofweek_container {
  margin-top: 13px;
}

#graph1 .graphContainer {
  min-width: 300px;
  max-width: 800px;
  height: 400px;
  margin: 1em auto;
}

#graph1BarDay {
  height: 400px; 
}

#graph1_start_date_picker,
#graph1_end_date_picker,
#graph3_start_date_picker,
#graph3_end_date_picker {
  margin-top: 12px;
}

#number_or_percent {
  margin-top: 12px;
}

#graph3_date_pickers {
  margin-top: 46px;
}

.hasDatepicker {
  border: 1px solid #D3D6DB;
  border-radius: 3px;
  border-width: 1px;
  border-color: #D3D6DB;
  line-height: 24px;
  height: 32px;
  width: 100px;
}

.input.date {
  width: 60%;
}

.label.content {
  color: #1FC8DB;
  background-color: rgba(0,0,0,0.5);
  border-radius: 3px;
  font-size: larger;
}

#login-form {
  color: #1FC8DB;
  position: absolute;
  margin-top: 100px;
  margin-left: 33px;
  width: 350px;
}

#login-title {
  margin-bottom: 15px;
}

#site-title {
  color: #1FC8DB;
  position: absolute;
  margin-top: 27px;
  margin-left: 33px;
}

.navbar {
  margin-top: 15px;
  margin-right: 11px;
  margin-bottom: 20px;
  margin-left: 11px;
}

.navbar-item .title {
  margin-right: 30px;
}

#overview_line_chart {
  width:560px; 
  height:300px;
}

#overview-highstock {
  height: 400px; 
  min-width: 310px;
}

#sliders {
  min-width: 310px; 
  max-width: 800px;
  margin-top: 200px;
  margin-right: 10px;
  margin-left: -33px;
}

#splashpage {
  background-image: url("http://localhost:3000/UBC-SUB-blur.jpg");
  height: 100vh;
  background-size: cover;
}

.highcharts-button {
  display: none;
}