/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery-ui/datepicker
 *= require_tree .
 */

 
@import "bulma";

/*simple way to add custom edits to bulma classes*/

.container {
  max-width: 1200px;
}

.input.date {
  width: 60%;
}

.navbar {
  margin-top: 15px;
  margin-right: 11px;
  margin-bottom: 20px;
  margin-left: 11px;
}

#overview_line_chart {
  width:560px; 
  height:300px;
}

#overview-highstock {
  height: 400px; 
  min-width: 310px;
}


#graph1 .graphContainer {
  min-width: 300px;
  max-width: 800px;
  height: 400px;
  margin: 1em auto;
}

#graph1BarDay {
  height: 400px; 
}

#sliders {
  min-width: 310px; 
  max-width: 800px;
  margin-top: 550px;
  margin-right: 10px;
}

.input.date {
   width: 60%;
 }


/* this is for the coverr.co video on the splash page */
.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}

