<label class="label">Name</label>
  <p class="control">
    <input class="input" type="text" placeholder="Text input">
  </p>
<label class="label">Password</label>
  <p class="control">
    <input class="input" type="text" placeholder="Text input" value="bulma">
  </p>
<p class="control">
  <button class="button is-primary">Submit</button>
</p>