<!DOCTYPE html>
<html>
<head>
  <title>Optbird</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true, "jquery-2.2.3.min", "highcharts" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
